<div class="container">
    <h1>Thank you for banking with us!</h1>

    <div class="mt-3" *ngIf="cashDispensed">
        <h5 class="font-weight-bold">Amount dispensed {{cashDispensed |
            currency: 'AED' + ' ' :
            'code':'.2-2'}}</h5>
        <h4 class="font-weight-bold">Please collect your cash & receipt.</h4>
        <div class="d-flex boxes mt-2">
            <div class="col-5 box cash">
                <div [@takeOut]="state" (@takeOut.done)="onEnd($event)"><i class="fas fa-money-bill"></i></div>
            </div>
            <div class="col-5 box receipt">
                <div [@takeOut]="state" (@takeOut.done)="onEnd($event)"><i class="fas fa-receipt"></i></div>
            </div>
        </div>
    </div>

</div>