.container {
    display: flex;
    flex-direction: column;
    height: 25%;
    margin-top: 30px;

    h5 {
        .amount {
            color: green;
            font-size: 22px;
        }
    }

    i {
        &.fa-receipt {
            color: #fff5f5;
        }
        font-size: 340px;

        &.fa-leaf {
            color: #94e33b;
        }
    }
    
    .d-flex {
        .box {
            border: 2px solid;
            height: 50px;

            &.cash {
                i.fa-money-bill {
                    color: #d8efbe;
                }
            }

            &.receipt {
                i.fa-receipt {
                    margin-left: 80px;
                    position: relative;
                    top: 25px;
                }
            }
        }
        column-gap: 20px;
    }

    .balance-enquiry {

        .receipt-option {

            .btn {
                font-weight: 500;
                color: #fff;

                &.go-green-btn {
                    font-style: italic;
                }
            }
        }
    }

    .user-receipt-opinion {

        .go-green {

            i.fa-leaf {
                color: #84b749;
                text-align: center;
                margin-top: 50px;
            }
        }
    }

    .eject-card {

        i.fa-credit-card {
            color: #5c5b5b;
            position: relative;
            top: 35px;
            right: 15px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 519px) {
    .go-green {
        i.fa-leaf {
            font-size: 120px;
        }
    }

    .box {

        i.fa-credit-card {
            font-size: 150px;
        }
    }
}
@media screen and (min-width: 520px) and (max-width: 720px) {
    .go-green {
        i.fa-leaf {
            font-size: 140px;
        }
    }

    .box {

        i.fa-credit-card {
            font-size: 170px;
        }
    }
}
@media screen and (min-width: 721px) and (max-width: 991px) {
    .go-green {
        i.fa-leaf {
            font-size: 160px;
        }
    }

    .box {

        i.fa-credit-card {
            font-size: 190px;
        }
    }
}

@media screen and (min-width: 520px) {
    div {
        &.receipt {
            i.fa-receipt {
                font-size: 120px !important;
                margin-left: 40px !important;
            }
        }
        &.cash {
            i.fa-money-bill {
                font-size: 140px !important;
            }
        } 
    }
}

@media screen and (min-width: 720px) {
    div {
        &.receipt {
            i.fa-receipt {
                font-size: 140px !important;
                margin-left: 65px !important;
            }
        }
        &.cash {
            i.fa-money-bill {
                font-size: 150px !important;
            }
        } 
    }
}
@media screen and (min-width: 820px) {
    div {
        &.receipt {
            i.fa-receipt {
                font-size: 140px !important;
                margin-left: 55px !important;
            }
        }
        &.cash {
            i.fa-money-bill {
                font-size: 180px !important;
            }
        } 
    }
}
@media screen and (min-width: 920px) {
    div {
        &.receipt {        
            i.fa-receipt {
                font-size: 205px !important;
                margin-left: 80px !important;
            }
        }
        &.cash {
            i.fa-money-bill {
                font-size: 200px !important;
            }
        } 
    }
}
@media screen and (min-width: 980px) {
    div {
        &.receipt {        
            i.fa-receipt {
                font-size: 220px !important;
                margin-left: 65px !important;
            }
        }
        &.cash {
            i.fa-money-bill {
                font-size: 205px !important;
            }
        } 
    }
}
@media screen and (min-width: 1080px) {
    div {
        &.receipt {    
            i.fa-receipt {
                font-size: 320px !important;
                margin-left: 80px !important;
            }
        }
        &.cash {
            i.fa-money-bill {
                font-size: 280px !important;
            }
        } 
    }
}
@media screen and (min-width: 1320px) {
    div {
        &.receipt {
            i.fa-receipt {
                font-size: 340px !important;
                margin-left: 80px !important;
            }
        }
        &.cash {
            i.fa-money-bill {
                font-size: 340px !important;
            }
        } 
    }
}
