<div class="container-fluid">
    <!-- header if needed to follow or even remove card option -->
    <h2 class="text-center">Welcome, please select from one of the options below</h2>
    <div class="d-flex flex-wrap options" @slideIn>
        <button class="btn btn-primary col-5">Balance Enquiry</button>
        <button class="btn btn-primary col-5" routerLink="withdrawal">Withdrawal</button>
        <button class="btn btn-primary col-5">Mini Statement</button>
        <button class="btn btn-primary col-5">Cheque Deposit</button>
        <button class="btn btn-primary col-5">Cash Deposit</button>
        <button class="btn btn-primary col-5">PIN Change</button>
        <button class="btn btn-primary col-5">Call me</button>
        <button class="btn btn-primary col-5">Withdrawal</button>
        <button class="btn btn-primary col-5">Withdrawal</button>
        <button class="btn btn-primary col-5">Withdrawal</button>
        <button class="btn btn-primary col-5">Withdrawal</button>
        <button class="btn btn-primary col-5">Withdrawal</button>
    </div>
</div>