
.container-fluid {
    
    h2 {
        margin-top: 2%;
    }
    .btn {
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        height: 100px;
        width: 300px;
    }
    
    .btn:hover {
        font-weight: 600;
    }
    
    .options {
        row-gap: 40px;
        justify-content: space-between;
        padding: 35px;
        height: 100%;
    }
}