<div class="container-fluid">
    <!-- header if needed to follow or even remove card option -->
    <h2 class="text-center">Welcome, please select from one of the options below</h2>
    <div class="d-flex flex-wrap options" @slideIn>
        <button class="btn btn-primary col-5" routerLink="balance-enquiry">Balance Enquiry</button>
        <button class="btn btn-primary col-5" routerLink="withdrawal">Withdrawal</button>
        <button class="btn btn-primary col-5">Mini Statement</button>
        <button class="btn btn-primary col-5">Cheque Deposit</button>
        <button class="btn btn-primary col-5">Cash Deposit</button>
        <button class="btn btn-primary col-5">PIN Change</button>
        <button class="btn btn-primary col-5">Assist me</button>
        <button class="btn btn-primary col-5">Favorite Transaction</button>
        <button class="btn btn-primary col-5">Pay Bills</button>
        <button class="btn btn-primary col-5">Transfer Money</button>
        <button class="btn btn-primary col-5">Update Contact</button>
        <button class="btn btn-primary col-5">Click 2 Win</button>
    </div>
</div>